.calculator {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    margin-bottom: 10px;
    text-align: right;
  }
  
  .input {
    font-size: 1.5em;
    color: azure;
    padding: 15px;
    border: 2px solid rgb(207, 206, 206);
  }
  
  .result {
    font-size: 1.2em;
    padding: 5px;
    color: #f6f6f6;
  }
  
  .buttons {
    display: grid;
    color: #ccc;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
  }
  